<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Detalles del Club</title>
</head>
<body>
<!-- USUARIO SIN LOGUEAR -->
<div th:if="${usuario == null}">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" th:href="@{/home}">UNLAM</a>

    <!-- Colocar el botón a la derecha -->
    <div class="d-flex ms-auto">
      <!-- Botón de registrarse -->
      <a th:href="@{/login}" class="btn btn-lg btn-primary btn-block">Iniciar sesión</a>
      <a th:href="@{/registro}" class="btn btn-lg btn-primary btn-block">Registrarse</a>
    </div>
  </nav>
</div>


  <!-- nombre / descripcion / genero / imagen / integrantes-->
  <p th:text="${club.nombre}">Nombre del usuario</p>
  <p th:text="${club.descripcion}">descripcion</p>
  <p th:text="${club.genero}">genero</p>
  <img th:src="@{/images/{imagen}(imagen=${club.imagen})}" alt="Imagen del usuario">

  <!-- DESCOMENTAR ESTO PARA RECORRER EL ARRAY DE INTEGRANTES DEL CLUB
   <ul>
     <li th:each="integrante : ${club.integrantes}" th:text="${integrante}">Nombre del integrante</li>
   </ul>
  -->


<!-- USUARIO ADMIN -->
  <div th:if="${usuario.rol == 'ADMIN'}">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">UNLAM</a>
      <h1>Bienvenido ADMIN</h1>

        <div class="d-flex ms-auto">

        <a href="login.html" >Cerrar sesión</a>

      </div>
    </nav>
  </div>
<!-- USUARIO NORMAL -->
  <div th:if="${usuario.rol == 'usuario'}">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">UNLAM</a>
        <div class="d-flex ms-auto">

          <div class="dropdown">
            <button>
              <img th:src="@{/images/menuDesplegable.png}" alt="Menu Desplegable" class="img-fluid" style="max-width: 50px; height: auto;">
            </button>

            <div class="dropdown-content">

          <a th:href="@{/perfil/{id}(id=${usuario.id})}">Perfil</a>
          <a href="clubsInscriptos.html" >Mis clubs</a>
          <a href="login.html" >Cerrar sesión</a>
            </div>
          </div>
      </div>
    </nav>
  </div>


    <!-- nombre / descripcion / genero / imagen / integrantes-->
     <p th:text="${club.nombre}">Nombre del usuario</p>
     <p th:text="${club.descripcion}">descripcion</p>
     <p th:text="${club.genero}">genero</p>
     <img th:src="@{/images/{imagen}(imagen=${club.imagen})}" alt="Imagen del usuario">

    <form th:action="@{/club/{clubId}/anotarse(clubId=${club.id})}" method="post">
      <button type="submit">Inscribirse en el Club</button>
    </form>
    <!-- DESCOMENTAR ESTO PARA RECORRER EL ARRAY DE INTEGRANTES DEL CLUB
     <ul>
       <li th:each="integrante : ${club.integrantes}" th:text="${integrante}">Nombre del integrante</li>
     </ul>
    -->


 </body>
 </html>