<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publicación</title>
</head>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/main.css}"/>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <a class="navbar-brand" th:href="@{/home}">DeUltima</a>
            <form class="d-flex" th:action="@{/buscar}" method="GET">
                <input type="text" name="query" class="form-control me-2" placeholder="Buscar Club" aria-label="Buscar">
                <button type="submit" class="btn btn-outline-light">Buscar</button>
            </form>
            <div th:if="${usuario == null}">
                <a th:href="@{/login}" class="btn btn-primary me-2">Iniciar sesión</a>
                <a th:href="@{/registro}" class="btn btn-primary">Registrarse</a>
            </div>
            <div th:if="${usuario != null}">
                <a th:href="@{/crearClub}" class="btn btn-primary me-2">Crear nuevo club</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">Menú
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" th:href="@{/perfil/{id}(id=${usuario.id})}">Perfil</a></li>
                        <li><a class="dropdown-item" th:href="@{/misClubs/{usuarioId}(usuarioId=${usuario.id})}">Mis clubs</a></li>
                        <li><a class="dropdown-item" th:href="@{/ranking}">Ranking</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="mt-6">


    <div class="container mt-4">
        <p class="text-center mb-4" th:text="${publicacion.mensaje}"></p>
    </div>

    <div th:if="${usuario != null and usuario.rol == 'admin'}">
        <div class="text-center mb-4">
            <a th:href="@{/club/{clubId}/eliminarPublicacion/{publicacionId}(clubId=${club.id}, publicacionId=${publicacion.id})}"
               class="btn btn-danger mt-4">Eliminar publicación</a>
        </div>
    </div>

    <div th:if="${mensaje != null}">
        <p th:text="${mensaje}"></p>
    </div>
    <div class="container mt-4">
        <h2>Comentarios de la comunidad:</h2>

        <div th:if="${#lists.isEmpty(comentarios)}">
            <p>No hay comentarios disponibles.</p>
        </div>

        <ul class="list-group">
            <li th:if="${comentarios != null}" class="list-group-item" th:each="comentario : ${comentarios}">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-1" th:text="${comentario.autor.nombreUsuario}"></h5>
                </div>
                <p class="mb-1" th:text="${comentario.texto}">Texto del comentario</p>

                <div th:if="${usuario != null}">
                    <!-- Botón de Like (se muestra si el usuario NO ha dado like) -->
                    <form th:if="${!comentario.tienelikeDeEsteUsuario(usuario)}"
                          th:action="@{/club/{clubId}/detallePublicacion/{publicacionId}/likear/{comentarioId}(clubId=${club.id}, publicacionId=${publicacion.id}, comentarioId=${comentario.id})}"
                          method="post">
                        <button type="submit" class="btn btn-primary btn-sm">Like</button>
                    </form>

                    <!-- Botón de Unlike (se muestra si el usuario SÍ ha dado like) -->
                    <form th:if="${comentario.tienelikeDeEsteUsuario(usuario)}"
                          th:action="@{/club/{clubId}/detallePublicacion/{publicacionId}/deslikear/{comentarioId}(clubId=${club.id}, publicacionId=${publicacion.id}, comentarioId=${comentario.id})}"
                          method="post">
                        <button type="submit" class="btn btn-secondary btn-sm">Eliminar like</button>
                    </form>
                </div>

                <!-- Contador de Likes -->
                <span id="like-count-[[${comentario.id}]]" th:text="${comentario.likes.size()}"></span> Me gusta
                <div th:if="${usuario != null and comentario.autor.id == usuario.id}" >
                    <form th:action="@{/club/{clubId}/detallePublicacion/{publicacionId}/eliminarComentario/{comentarioId}(clubId=${club.id},publicacionId=${publicacion.id},comentarioId=${comentario.id})}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este comentario?');">
                            Eliminar
                        </button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div th:if="${usuario != null}">
        <div th:each="clubsInscripto : ${usuario.clubsInscriptos}">
            <!-- Si el usuario está inscripto en este club, mostramos el botón de abandonar -->
            <div th:if="${clubsInscripto.id == club.id}">
                <div class="container mt-4">
                    <h3>Agregar Nuevo Comentario</h3>
                    <form th:action="@{/club/{clubId}/crearNuevoComentario/{publicacionId}(clubId=${club.id}, publicacionId=${publicacion.id})}"
                          method="post" th:object="${comentario}">

                        <div class="mb-3">
                            <label for="texto" class="form-label">Comentario</label>
                            <textarea class="form-control" id="texto" th:field="*{texto}" rows="3" required></textarea>
                        </div>
                        <input type="hidden" name="publicacionId" th:value="${publicacion.id}"/>
                        <button type="submit" class="btn btn-primary">Enviar Comentario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>

</body>
</html>