<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicación</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head>

<body>

<div th:insert="fragments/header :: header"></div>

<main class="container mt-5 pt-5">

    <a th:href="@{/club/{id}(id=${club.id})}"><button type="submit" class="btn btn-primary mt-4">Volver atrás</button></a>

    <div class="container mt-4">
        <h2 class="mb-4" th:text="${publicacion.titulo}"></h2>
    </div>
    <div class="container mt-2 d-flex gap-1">
        <p>Publicación de:</p><p class="mb-4" th:text="${publicacion.usuario.nombreUsuario}"></p>
    </div>
    <div class="container mt-4 mb-2">
        <p class="mb-4" th:text="${publicacion.mensaje}"></p>
    </div>

    <div th:if="${usuario != null and usuario.rol == 'admin'}">
        <div class="text-center mb-4">
            <a th:href="@{/club/{clubId}/eliminarPublicacion/{publicacionId}(clubId=${club.id}, publicacionId=${publicacion.id})}"
               class="btn btn-danger mt-4">Eliminar publicación</a>
        </div>
    </div>

    <div class="container mt-4">
        <h2>Comentarios de la comunidad:</h2>

        <div th:if="${#lists.isEmpty(comentarios)}">
            <p>No hay comentarios disponibles.</p>
        </div>

        <ul class="list-group">
            <li th:if="${comentarios != null}" class="list-group-item" th:each="comentario : ${comentarios}">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <!-- Enlace al perfil del autor -->
                    <a th:href="@{/perfil/{id}(id=${comentario.autor.id})}"
                       class="mb-0"
                       style="text-decoration: none;"
                       th:text="${comentario.autor.nombreUsuario}">
                    </a>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                <p class="mb-1" th:text="${comentario.texto}">Texto del comentario</p>

                <div th:if="${usuario != null}">

                    <div class="d-flex align-items-center">
                        <!-- Botón de Like (si el usuario NO ha dado like) -->
                        <form th:if="${!comentario.tienelikeDeEsteUsuario(usuario)}"
                              th:action="@{/club/{clubId}/detallePublicacion/{publicacionId}/likear/{comentarioId}(clubId=${club.id}, publicacionId=${publicacion.id}, comentarioId=${comentario.id})}"
                              method="post">
                            <button type="submit" class="btn btn-outline-primary btn-sm me-2">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </button>
                        </form>

                        <!-- Botón de Unlike (si el usuario SÍ ha dado like) -->
                        <form th:if="${comentario.tienelikeDeEsteUsuario(usuario)}"
                              th:action="@{/club/{clubId}/detallePublicacion/{publicacionId}/deslikear/{comentarioId}(clubId=${club.id}, publicacionId=${publicacion.id}, comentarioId=${comentario.id})}"
                              method="post">
                            <button type="submit" class="btn btn-outline-secondary btn-sm">
                                <i class="fa-solid fa-thumbs-down"></i>
                            </button>
                        </form>


                    <!-- Contador de Likes -->
                    <div class="mt-2 ms-2">
                        <span th:text="${comentario.likes.size()}"></span> Me gusta
                    </div>
                    </div>
                </div>
                </div>
                    <!-- Eliminar comentario (si es el autor del comentario) -->
                    <div th:if="${usuario != null and comentario.autor.id == usuario.id}">
                        <form th:action="@{/club/{clubId}/detallePublicacion/{publicacionId}/eliminarComentario/{comentarioId}(clubId=${club.id},publicacionId=${publicacion.id},comentarioId=${comentario.id})}"
                              method="post" class="mt-2" style="display: inline;">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('¿Estás seguro de que deseas eliminar este comentario?');">
                                Eliminar
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div th:if="${usuario != null}">
        <div th:each="clubsInscripto : ${usuario.clubsInscriptos}">
            <div th:if="${clubsInscripto.id == club.id}">
                <div class="container mt-4">
                    <h3>Agregar Nuevo Comentario</h3>
                    <form th:action="@{/club/{clubId}/crearNuevoComentario/{publicacionId}(clubId=${club.id}, publicacionId=${publicacion.id})}"
                          method="post" th:object="${comentario}">

                        <div class="mb-3">
                            <label for="texto" class="form-label">Comentario</label>
                            <textarea class="form-control" id="texto" th:field="*{texto}" rows="3" required></textarea>
                        </div>
                        <input type="hidden" name="publicacionId" th:value="${publicacion.id}"/>
                        <button type="submit" class="btn btn-primary mb-4">Enviar Comentario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>


<div id="errorPopup"
     class="popup"
     th:if="${mensaje}"
     th:text="${mensaje}"
     th:data-mensaje="${mensaje}">
</div>


<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/popup.js}"></script>
</body>
</html>
