<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis Clubs</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<div th:insert="fragments/header :: header"></div>

<h2>Mis Clubs</h2>

<main>
    <div th:if="${usuario.rol == 'admin' or usuario.rol == 'usuario'}">
        <div class="mt-5">
            <main role="main" class="container mt-5 pt-5">
                <h1 class="text-center">Mis clubs</h1>
                <div class="club-container">
                    <div th:each="club : ${usuario.clubsInscriptos}" class="club-item">
                        <div class="card h-100">
                            <a th:href="@{/club/{id}(id=${club.id})}">
                                <img th:src="@{${club.imagen}}" class="card-img-top" alt="Imagen del club">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a th:href="@{/club/{id}(id=${club.id})}" th:text="${club.nombre}">Nombre del
                                        club</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</main>


<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>