<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<h1 class="mb-4 text-center">Crear Nuevo Subtítulo</h1>

<p th:if="${error != null}" class="alert alert-danger mt-3" th:text="'Error: ' + ${error}"></p>

<form th:action="@{/club/{clubId}/nuevaPublicacion(clubId=${clubId})}" th:object="${publicacion}" method="post" class="p-4 shadow-sm rounded bg-light">
    <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" id="titulo" class="form-control" th:field="*{titulo}" placeholder="Escribe el título aquí" required>
    </div>

    <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea id="mensaje" class="form-control" th:field="*{mensaje}" placeholder="Escribe el mensaje aquí" rows="4" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary w-100">Crear</button>
</form>


<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>