<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Taller Web I</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<div th:insert="fragments/header :: header"></div>

<main>
    <div class="container mt-5 pt-5">
        <h1 class="text-center mb-4 mt-4">Rankings de Clubes de Lectura</h1>
        <a class="btn btn-secondary mb-2" th:href="@{/home}">Volver</a>
        <div class="row">
            <!-- Clubes con más miembros -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header text-center fw-bold">Clubes con más miembros</div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre del Club</th>
                                <th>Miembros</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="club, iterStat : ${clubsMiembros}">
                                <td th:text="${iterStat.index + 1}">1</td>
                                <td>
                                    <a th:href="@{/club/{idClub}(idClub=${club.id})}" th:text="${club.nombre}"></a>
                                </td>
                                <td th:text="${club.cantidadMiembros}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Clubes con mejor puntuación -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header text-center fw-bold">Clubes con mejor puntuación</div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre del Club</th>
                                <th>Calificación</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="club, iterStat : ${clubsPuntuacion}">
                                <td th:text="${iterStat.index + 1}">1</td>
                                <td>
                                    <a th:href="@{/club/{idClub}(idClub=${club.id})}" th:text="${club.nombre}"></a>
                                </td>
                                <td th:text="${club.puntuacionPromedio != 0 ? #numbers.formatDecimal(club.puntuacionPromedio, 0, 2) : '0,00'}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Usuarios con más seguidores -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header text-center fw-bold">Usuarios con más seguidores</div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Seguidores</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="usuario, iterStat : ${usuariosSeguidores}">
                                <td th:text="${iterStat.index + 1}">1</td>
                                <td>
                                    <a th:href="@{/perfil/{id}(id=${usuario.id})}" th:text="${usuario.nombreUsuario}"></a>
                                </td>
                                <td th:text="${usuario.getSeguidores().size()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Clubes con más publicaciones -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header text-center fw-bold">Clubes con más publicaciones</div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre del Club</th>
                                <th>Publicaciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="club, iterStat : ${clubsPublicaciones}">
                                <td th:text="${iterStat.index + 1}">1</td>
                                <td>
                                    <a th:href="@{/club/{idClub}(idClub=${club.id})}" th:text="${club.nombre}"></a>
                                </td>
                                <td th:text="${club.getPublicaciones().size()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
