<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Resultados de Búsqueda</title>
    <!-- Agrega tus estilos CSS aquí -->
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Clubes de Lectura</a>
</nav>

<main role="main" class="container">
    <h2>Resultados de la Búsqueda</h2>

    <!-- Formulario de búsqueda -->
    <form action="#" th:action="@{/buscar-club}" method="get">
        <input type="text" name="query" placeholder="Buscar clubes..." />
        <button type="submit">Buscar</button>
    </form>

    <!-- Mostrar resultados de búsqueda -->
    <div th:if="${clubes.isEmpty()}">
        <p>No se encontraron clubes.</p>
    </div>

    <ul>
        <li th:each="club : ${clubes}">
            <a th:href="@{/club/${club.id}}" th:text="${club.nombre}"></a>
        </li>
    </ul>
</main>

<!-- Agrega tus scripts JavaScript aquí -->
</body>
</html>
