<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notificaciones</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container mt-5 pt-5">
    <h2 class="mb-4">Notificaciones</h2>
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Evento</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notificacion : ${notificaciones}">
            <td th:text="${notificacion.fecha}">Fecha de notificación</td>
            <td th:text="${notificacion.evento}">Evento</td>
        </tr>
        <tr th:if="${#lists.isEmpty(notificaciones)}">
            <td colspan="4" class="text-center">No hay notificaciones</td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
